@font-face {
  font-family: "Poppins";
  src: url("poppins/Poppins-Regular.otf");
}
@font-face {
  font-family: "Poppins Light";
  src: url("poppins/Poppins-Light.otf");
}
body {
  font-family: "Poppins";
}
a {
  text-decoration: none !important;
}
a,
input.btn-gradient {
  cursor: pointer;
}
input.btn-gradient {
  text-align: center;
}
.btn-green {
  background: #2EA68D !important;
  color: #FFF !important;
  border-radius: 6px !important;
  border: 1px solid #2EA68D !important;
  transition: all .5s ease-in !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
.btn-green:hover {
  background: #FFF !important;
  color: #2EA68D !important;
}
.btn-white {
  background: #FFF !important;
  color: #268672 !important;
  border-radius: 6px !important;
  border: 1px solid #2EA68D !important;
  transition: all .5s ease-in !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
  -webkit-transition: all .5s ease-in !important;
  -moz-transition: all .5s ease-in !important;
  -ms-transition: all .5s ease-in !important;
  -o-transition: all .5s ease-in !important;
}
.btn-white:hover {
  background: linear-gradient(90deg, #2EA68D 4.95%, #1F9CB8 140.54%) !important;
  color: #FFF !important;
}
.btn-grey {
  background: #A9B0AF !important;
  color: #FFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid #A9B0AF !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all .5s ease-in !important;
  -webkit-transition: all .5s ease-in !important;
  -moz-transition: all .5s ease-in !important;
  -ms-transition: all .5s ease-in !important;
  -o-transition: all .5s ease-in !important;
}
.btn-yellow {
  background: #E2BE16 !important;
  color: #FFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) !important;
  border: 1px solid #E2BE16 !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: all .5s ease-in !important;
  -webkit-transition: all .5s ease-in !important;
  -moz-transition: all .5s ease-in !important;
  -ms-transition: all .5s ease-in !important;
  -o-transition: all .5s ease-in !important;
}
.btn-yellow:hover {
  background: #FFF !important;
  color: #E2BE16 !important;
}
.backGreen {
  background: #2EA68D;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-gradient {
  background: linear-gradient(90deg, #2EA68D 4.95%, #1F9CB8 140.54%) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) !important;
  border: 0 !important;
  color: #FFF !important;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.btn-transparent {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AE9C9C;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}