.green {
  color: #2EA68D !important;
}
.greenAcc {
  color: #1CAC8E !important;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
}
.arrowUp {
  margin-left: 2%;
}
.btn-link,
.btn-link:hover {
  text-decoration: none !important;
}
header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
section.talks {
  padding: 6% 0% 4%;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title {
  color: #5A5A5A;
  border-bottom: 1px solid #929292;
  padding-bottom: 3%;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title h1 {
  width: 80%;
  font-size: 42px;
  font-weight: 600;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h5 {
  width: 80%;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 #accordion {
  margin-top: 5%;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 #accordion .card,
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 #accordion .card .card-header {
  border: 0;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 #accordion .card .card-header {
  padding: 0;
  background-color: #FFF;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 #accordion .card .card-header h5 button {
  width: 100%;
  padding: 0.75rem 1.25rem 0.75rem 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6 #accordion .card .card-body {
  color: #575757;
  padding-top: 0;
  padding-left: 0;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6.colTalk {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section.talks .container .row .col-sm-6.col-md-6.col-lg-6.colTalk .talk {
  width: 458px;
  height: 455px;
}

@media only screen and (min-width:320px) and (max-width: 768px) {
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h5,
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title h1 {
    width: 100%;
  }
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title h1 {
    font-size: 35px;
    padding-top: 7%;
  }
  .greenAcc {
    font-size: 17px;
  }
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h5 {
    font-size: 18px;
  }
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6.colTalk .talk {
    width: 100%;
    height: auto;
    margin-top: 7%;
  }
}

@media only screen and (min-width:320px) and (max-width:374px) {
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title h1 {
    font-size: 30px;
  }
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h5 {
    font-size: 16px;
  }
  .greenAcc {
    font-size: 14px;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title h1 {
    font-size: 35px;
  }
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title p.h5 {
    font-size: 20px;
  }
  .greenAcc {
    font-size: 19px;
  }
  section.talks .container .row .col-sm-6.col-md-6.col-lg-6 .title {
    width: 90%;
  }
}